@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Body and general styles */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: #333;
    color: #ffffff;
    margin: 0;
    /* padding-top: 70px; Remove or adjust this line */
  }
  
  .first-word {
    color: aqua;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Navigation Bar */

    .navbar {
      position: sticky;
      top: 0px;
      background-color: #343a40 !important;
      z-index: 9999; /* Make sure it stays on top */
    }

    .social-link img{
      margin: 0 5px;
      border-radius: 10%;
    }    

/* Apply hover effect to the social links */
.social-link:hover img {
  background-color: aqua;
  border-radius: 10%;
  filter: brightness(1); /* Adjust brightness on hover */
}

#github-Logo {
  border-radius: 50% !important;
}
  
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    border-radius: 5px;
  }
  
/* For small screens */
@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    color: aqua;
    background-color: rgba(0, 255, 255, 0.5); 
    border-radius: 5px;
  }
}

  .navbar-dark .navbar-nav .nav-link:hover {
    color: aqua;
  }
  
  /* Sections */
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-body {
    background-color: #333;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 1px 1px 4px 2px aqua;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .btn-primary {
    /* background-color: #0056b3; */
    background-color: aqua;
    color: #333;
    border: none;
    border-radius: 15px;
  }
  
  .btn-primary:hover {
    background-color: #333;
    color: aqua;
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    
  }
  

  /* Optional: Style the typing animation */
.typewriter {
  color: aqua;
  overflow: hidden; /* Ensures the text is not revealed until the animation */
  border-right: 0.08em solid aqua; /* Cursor effect */
  white-space: nowrap; /* Keeps the text on one line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust spacing between characters */
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite alternate;
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Cursor animation (optional) */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: aqua; }
}